body {
    background-image: url("https://fastly.picsum.photos/id/56/2880/1920.jpg?hmac=BIplhYgNZ9bsjPXYhD0xx6M1yPgmg4HtthKkCeJp6Fk");
    background-size: cover;
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',  'Helvetica Neue', sans-serif -apple-system, ;
    font-weight: bold;
    text-align: center;
    color: white;
    position: relative;
}

html::before {
    padding: 0;
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: rgba(0,200,100, .8);
}

#save-btn {
    background: rgba(255,50,100, 0.8);
}

#container {
    max-width: 512px;
    place-content: center;
    margin: 0 auto;
}

